<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiares entregable CoderHouse</title>
</head>
<body>
    <h1>Familiares:</h1>

    {% for datos in Yo %}

        <h3>{{ datos }}</h3>
        
    {% endfor %}
    <h3>----------------------------</h3>
    {% for datos in Padre %}

        <h3>{{ datos }}</h3>

    {% endfor %}
    <h3>----------------------------</h3>
    {% for datos in Perro %}

        <h3>{{ datos }}</h3>

    {% endfor %}
    
</html>